@import (less) "../../common.less";

nav {
    position: fixed;

    top: 0;
    left: -300px;
    
    height: 100%;
    width: 300px;

    padding: 0 20px;
    
    background: @color-tertiary;

    > ul {
        margin: 0;

        list-style: none;
    }
}
