@import (less) "../../common.less";

@width-open: 300px;
@width-closed: 20px;

.cover {
    visibility: hidden;
    position: fixed;

    height: 100%;
    width: 100%;

    z-index: 15;

    background: black;
    opacity: 0;

    transition: @transition;
}

nav {
    .z-16;

    position: fixed;

    top: 0;
    left: -@width-open + @width-closed;
    
    height: 100%;
    width: @width-open;

    background: @color-accent;

    color: @font-color-secondary;

    transition: @transition;

    &:hover {
        left: 0;

        & ~ .cover {
            visibility: visible;
            opacity: .25;
        }
    }

    > dl {
        > div {
            display: flex;
            flex-direction: column;

            margin: 2em @width-closed;

            > dt, > dd {
                margin-top: .5em;
            }

            > dt {
                font-weight: bold;
            }
        }
    }
}
