@import (less) "../common.less";

header {
    display: flex;

    height: 64px;

    padding: 0 2em;

    background: @color-accent;

    .header-titles {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;

        .title {
            font-size: 150%;
        }

        .subtitle {
            margin-right: 2em;

            font-style: italic;
        }
    }
}
