@import (less) "../common.less";

@header-height: 64px;
@navbar-width-closed: 20px;

.content {
    display: flex;
    flex-direction: column;

    margin-left: @navbar-width-closed;

    > .content-header {
        display: flex;

        height: 64px;

        padding: 0 2em;

        background: @color-primary;
        box-shadow: @md-resting-shadow-12;

        > .header-titles {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;

            > .title {
                font-size: 150%;
            }

            > .subtitle {
                margin-right: 2em;

                font-style: italic;
            }
        }
    }
}
