@color-primary: #2196f3;
@color-secondary: #1976d2;
@color-tertiary: #1565c0;
@color-accent: #448aff;

@font-primary: Segoe, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;

@font-color: #ffffff;
@font-color-passive: darken(@font-color, 25%);

@transition: .25s ease-in-out;
@transition-properties: margin, left;
